/************ 
  RESET CSS
************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****** 
  APP 
*******/

.app {
  width: 700px;
  margin: 0 auto;
  display: block;
}


/********* 
  HEADER 
*********/

header {
  height: 150px;
}

h1 {
  color: #333;
  font-size: 60px;
  font-weight: 800;
  font-family: 'Big Shoulders Stencil Text', cursive;
  padding: 60px 0px;
}

/*********** 
  Add Task 
***********/

.add__task {
  display: flex;
}

.add__task input {
  height: 42px;
  font-size: 26px;
  font-weight: 100;
  font-family: 'Big Shoulders Stencil Text', cursive;
  border: none;
}

.add__task button {
  margin-left: auto;
  width: 100px;
  background-color: #333;
  border: none;
  border-radius: 5px;
  font-family: 'Big Shoulders Stencil Text', cursive;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

/* TASK */

.task {
  padding: 50px 0px;
}

.task li{
  display: flex;
  font-family: 'Big Shoulders Stencil Text', cursive;
  font-size: 24px;
}

.task span{
  display: flex;
  margin-left: auto;
}

.task button {
  width: 100px;
  border: none;
  border-radius: 5px;
  font-family: 'Big Shoulders Stencil Text', cursive;
  font-size: 24px;
  text-align: center;
  height: 36px;
  background-color: none;
}

.red {
  background-color: #E65757;
}